<html>

<head>
    <title>EyeTrainer</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="app">
        <game-canvas v-if="state == 'game'" :game="game" :runner_settings="runner_settings"></game-canvas>
        <div v-if="state == 'intro'">
            <h1>EyeTrainer</h1>
            <h2>Usage description</h2>
            <div>
                <ul>
                    <li>
                        Keep your eyes focused on the center of the screen.
                    </li>
                    <li>
                        Some light squares will appear at random locations every other cycle.
                    </li>
                    <li>
                        When you can see a light square, hit <code>Space</code>.
                    </li>
                    <li>
                        Hit <code>Escape</code> to pause the training.
                    </li>
                </ul>
                <button v-on:click="runGame()">Start Training</button>

                <button v-on:click="openSettings()">Open Settings</button>
            </div>
        </div>
        <div v-if="state == 'settings'">
            <input v-model="runner_settings.time_delta" type="number">
            <button v-on:click="openMenu()">Back</button>
        </div>
    </div>
    <script type="module" src="main.js"></script>
</body>


</html>